In this notebook I will import, clean messy and complex dataset for easy access and analysis.This will include manually converting data from one format into another for more convenient consumption and organization of the data.

In [1]:
#Import Necessary libraries and modules
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline 
import seaborn as sns
import datetime
import scipy.stats as stats

In [11]:
# Read/ Load data from local directory saved in CSV files to pandas dataframes
customers = pd.read_csv("C:/Users/R2D2/Desktop/Springboard/CapstoneProject2/olist_customers_dataset.csv")
geoloc = pd.read_csv("C:/Users/R2D2/Desktop/Springboard/CapstoneProject2/olist_geolocation_dataset.csv")
items = pd.read_csv("C:/Users/R2D2/Desktop/Springboard/CapstoneProject2/olist_order_items_dataset.csv")
payments = pd.read_csv("C:/Users/R2D2/Desktop/Springboard/CapstoneProject2/olist_order_payments_dataset.csv")
reviews = pd.read_csv("C:/Users/R2D2/Desktop/Springboard/CapstoneProject2/olist_order_reviews_dataset.csv")
orders = pd.read_csv("C:/Users/R2D2/Desktop/Springboard/CapstoneProject2/olist_orders_dataset.csv")
products = pd.read_csv("C:/Users/R2D2/Desktop/Springboard/CapstoneProject2/olist_products_dataset.csv")
products_in_english=pd.read_csv("C:/Users/R2D2/Desktop/Springboard/CapstoneProject2/product_category_name_translation.csv")

In [3]:
# Check the dimensions of the data 
customers.shape, geoloc.shape, items.shape, payments.shape, reviews.shape, orders.shape ,products.shape

((99441, 5),
 (1000163, 5),
 (112650, 7),
 (103886, 5),
 (100000, 7),
 (99441, 8),
 (32951, 9))

In [4]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
customer_id                 99441 non-null object
customer_unique_id          99441 non-null object
customer_zip_code_prefix    99441 non-null int64
customer_city               99441 non-null object
customer_state              99441 non-null object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [5]:
geoloc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
geolocation_zip_code_prefix    1000163 non-null int64
geolocation_lat                1000163 non-null float64
geolocation_lng                1000163 non-null float64
geolocation_city               1000163 non-null object
geolocation_state              1000163 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [6]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
order_id               112650 non-null object
order_item_id          112650 non-null int64
product_id             112650 non-null object
seller_id              112650 non-null object
shipping_limit_date    112650 non-null object
price                  112650 non-null float64
freight_value          112650 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [7]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
order_id                103886 non-null object
payment_sequential      103886 non-null int64
payment_type            103886 non-null object
payment_installments    103886 non-null int64
payment_value           103886 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [8]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
review_id                  100000 non-null object
order_id                   100000 non-null object
review_score               100000 non-null int64
review_comment_title       11715 non-null object
review_comment_message     41753 non-null object
review_creation_date       100000 non-null object
review_answer_timestamp    100000 non-null object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [9]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
product_id                    32951 non-null object
product_category_name         32341 non-null object
product_name_lenght           32341 non-null float64
product_description_lenght    32341 non-null float64
product_photos_qty            32341 non-null float64
product_weight_g              32949 non-null float64
product_length_cm             32949 non-null float64
product_height_cm             32949 non-null float64
product_width_cm              32949 non-null float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [13]:
products_in_english.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [14]:
# Read master data file which has cleaned and combined data of above files.
orders_v2= pd.read_csv("C:/Users/R2D2/Desktop/Springboard/CapstoneProject2/olist_public_dataset_v2.csv")

In [15]:
orders_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
order_id                         100000 non-null object
order_status                     100000 non-null object
order_products_value             100000 non-null float64
order_freight_value              100000 non-null float64
order_items_qty                  100000 non-null int64
order_sellers_qty                100000 non-null int64
order_purchase_timestamp         100000 non-null object
order_aproved_at                 99982 non-null object
order_estimated_delivery_date    100000 non-null object
order_delivered_customer_date    97595 non-null object
customer_id                      100000 non-null object
customer_city                    100000 non-null object
customer_state                   100000 non-null object
customer_zip_code_prefix         100000 non-null int64
product_category_name            100000 non-null object
product_name_lenght              100000 non-null int64
product_description_lenght       100000 non-null int64
product_photos_qty               100000 non-null int64
product_id                       100000 non-null object
review_id                        100000 non-null object
review_score                     100000 non-null int64
review_comment_title             8262 non-null object
review_comment_message           42489 non-null object
review_creation_date             100000 non-null object
review_answer_timestamp          100000 non-null object
dtypes: float64(2), int64(7), object(16)
memory usage: 19.1+ MB

In [16]:
# Check for null values in all the columns
orders_v2.isnull().sum()

order_id                             0
order_status                         0
order_products_value                 0
order_freight_value                  0
order_items_qty                      0
order_sellers_qty                    0
order_purchase_timestamp             0
order_aproved_at                    18
order_estimated_delivery_date        0
order_delivered_customer_date     2405
customer_id                          0
customer_city                        0
customer_state                       0
customer_zip_code_prefix             0
product_category_name                0
product_name_lenght                  0
product_description_lenght           0
product_photos_qty                   0
product_id                           0
review_id                            0
review_score                         0
review_comment_title             91738
review_comment_message           57511
review_creation_date                 0
review_answer_timestamp              0
dtype: int64

In [17]:
orders_v2.loc[orders_v2.isnull().any(axis=1)].head()

,order_id,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_aproved_at,order_estimated_delivery_date,order_delivered_customer_date,...,product_name_lenght,product_description_lenght,product_photos_qty,product_id,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,b95df3cef5297e79ef709ba256518f6f,delivered,349.90,13.84,1,1,2017-01-31 17:19:01.000000,2017-02-01 02:41:21.549551,2017-03-15 00:00:00.000000,2017-02-06 11:04:24.154259,...,51,625,1,6cdd53843498f92890544667809f1595,b95df3cef5297e79ef709ba256518f6f,5,NaN,NaN,2017-02-07 00:00:00.000000,2017-02-09 02:37:37+00:00
1,59af46052a799e80e2f0c665c587731d,delivered,15.00,15.10,1,1,2017-09-09 19:52:54.000000,2017-09-10 20:03:31.535281,2017-10-02 00:00:00.000000,2017-09-13 20:17:41.296915,...,44,1428,2,ae5cad88462eb7b7b61401e31c45618e,59af46052a799e80e2f0c665c587731d,5,NaN,entrega em 2 dias produto c boa qualidade otim...,2017-09-14 00:00:00.000000,2017-09-15 03:43:47+00:00
2,a3e6136894621db402a772c6bc72a12a,delivered,238.90,18.00,1,1,2017-01-30 17:00:09.000000,2017-01-30 17:31:25.438253,2017-03-07 00:00:00.000000,2017-02-06 15:43:04.758566,...,55,637,1,0c9ff9d8ed9b9bdd825487b3a66e05f5,a3e6136894621db402a772c6bc72a12a,5,NaN,produto veio antes do prazo informado muito ob...,2017-02-07 00:00:00.000000,2017-02-10 14:18:53+00:00
3,b675ea5a618922f6e679e30531b8957b,delivered,29.99,18.23,1,1,2018-03-11 18:18:36.000000,2018-03-11 18:30:37.931962,2018-04-03 00:00:00.000000,2018-04-03 20:36:43.778451,...,55,617,1,ad0a798e7941f3a5a2fb8139cb62ad78,b675ea5a618922f6e679e30531b8957b,4,NaN,NaN,2018-04-04 00:00:00.000000,2018-04-05 02:52:31+00:00
4,195a8be6794c487fe6cfbb97b7c61902,delivered,295.99,47.65,1,1,2017-04-20 08:01:08.000000,2017-04-25 08:05:40.405383,2017-05-24 00:00:00.000000,2017-05-04 18:47:45.721758,...,49,558,2,eaf2046d4c87809247a30050ea13df03,195a8be6794c487fe6cfbb97b7c61902,5,NaN,NaN,2017-05-05 00:00:00.000000,2017-05-08 15:20:18+00:00

In [18]:
# Change all date time columns to datetime datatype
orders_v2["order_purchase_timestamp"] = pd.to_datetime(orders_v2["order_purchase_timestamp"], format='%Y-%m-%d %H:%M:%S')
orders_v2["order_aproved_at"] = pd.to_datetime(orders_v2["order_aproved_at"], format='%Y-%m-%d %H:%M:%S')
orders_v2["order_delivered_customer_date"] = pd.to_datetime(orders_v2["order_delivered_customer_date"], format='%Y-%m-%d %H:%M:%S')
orders_v2["order_estimated_delivery_date"] = pd.to_datetime(orders_v2["order_estimated_delivery_date"], format='%Y-%m-%d %H:%M:%S')
orders_v2["review_creation_date"] = pd.to_datetime(orders_v2["review_creation_date"], format='%Y-%m-%d %H:%M:%S')
orders_v2["review_answer_timestamp"] = pd.to_datetime(orders_v2["review_answer_timestamp"], format='%Y-%m-%d %H:%M:%S')
orders_v2.dtypes

order_id                                 object
order_status                             object
order_products_value                    float64
order_freight_value                     float64
order_items_qty                           int64
order_sellers_qty                         int64
order_purchase_timestamp         datetime64[ns]
order_aproved_at                 datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
order_delivered_customer_date    datetime64[ns]
customer_id                              object
customer_city                            object
customer_state                           object
customer_zip_code_prefix                  int64
product_category_name                    object
product_name_lenght                       int64
product_description_lenght                int64
product_photos_qty                        int64
product_id                               object
review_id                                object
review_score                              int64
review_comment_title                     object
review_comment_message                   object
review_creation_date             datetime64[ns]
review_answer_timestamp          datetime64[ns]
dtype: object

In [19]:
products_in_english.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [20]:
# Retrive the english name of products by mapping orders_v2 dataframe with product_category_name_translation dataframe
orders_v2['product_category_name'] = orders_v2['product_category_name'].map(products_in_english.set_index('product_category_name')['product_category_name_english']).fillna(orders_v2['product_category_name'])

In [23]:
# delete '_' from the names and convert them to lowercase
orders_v2['product_category_name'] = orders_v2['product_category_name'].str.replace('_', ' ').str.lower()
orders_v2['product_category_name'].value_counts().head()

bed bath table     10435
health beauty       7939
sports leisure      7832
furniture decor     7728
watches gifts       7130
Name: product_category_name, dtype: int64

In [24]:
# Calculate delivery delta
orders_v2['order_delivery_before_estimated_date_in_days'] = (orders_v2['order_estimated_delivery_date'] - orders_v2['order_delivered_customer_date']).dt.days

orders_v2.head()

,order_id,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_aproved_at,order_estimated_delivery_date,order_delivered_customer_date,...,product_description_lenght,product_photos_qty,product_id,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,order_delivery_before_estimated_date_in_days
0,b95df3cef5297e79ef709ba256518f6f,delivered,349.90,13.84,1,1,2017-01-31 17:19:01,2017-02-01 02:41:21.549551,2017-03-15,2017-02-06 11:04:24.154259,...,625,1,6cdd53843498f92890544667809f1595,b95df3cef5297e79ef709ba256518f6f,5,NaN,NaN,2017-02-07,2017-02-09 02:37:37,36.0
1,59af46052a799e80e2f0c665c587731d,delivered,15.00,15.10,1,1,2017-09-09 19:52:54,2017-09-10 20:03:31.535281,2017-10-02,2017-09-13 20:17:41.296915,...,1428,2,ae5cad88462eb7b7b61401e31c45618e,59af46052a799e80e2f0c665c587731d,5,NaN,entrega em 2 dias produto c boa qualidade otim...,2017-09-14,2017-09-15 03:43:47,18.0
2,a3e6136894621db402a772c6bc72a12a,delivered,238.90,18.00,1,1,2017-01-30 17:00:09,2017-01-30 17:31:25.438253,2017-03-07,2017-02-06 15:43:04.758566,...,637,1,0c9ff9d8ed9b9bdd825487b3a66e05f5,a3e6136894621db402a772c6bc72a12a,5,NaN,produto veio antes do prazo informado muito ob...,2017-02-07,2017-02-10 14:18:53,28.0
3,b675ea5a618922f6e679e30531b8957b,delivered,29.99,18.23,1,1,2018-03-11 18:18:36,2018-03-11 18:30:37.931962,2018-04-03,2018-04-03 20:36:43.778451,...,617,1,ad0a798e7941f3a5a2fb8139cb62ad78,b675ea5a618922f6e679e30531b8957b,4,NaN,NaN,2018-04-04,2018-04-05 02:52:31,-1.0
4,195a8be6794c487fe6cfbb97b7c61902,delivered,295.99,47.65,1,1,2017-04-20 08:01:08,2017-04-25 08:05:40.405383,2017-05-24,2017-05-04 18:47:45.721758,...,558,2,eaf2046d4c87809247a30050ea13df03,195a8be6794c487fe6cfbb97b7c61902,5,NaN,NaN,2017-05-05,2017-05-08 15:20:18,19.0

In [25]:
print("No. of orders delivered after estimated delivery date: ", sum(n < 0 for n in orders_v2.order_delivery_before_estimated_date_in_days))
print("No. of orders delivered before estimated delivery date: ",sum(n > 0 for n in orders_v2.order_delivery_before_estimated_date_in_days))

No. of orders delivered after estimated delivery date:  7370
No. of orders delivered before estimated delivery date:  88875

In [26]:
# Calculate total order value by summing order value and freight value
orders_v2['total_order_value'] = orders_v2['order_products_value'].add(orders_v2['order_freight_value'])
orders_v2.head()

,order_id,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_aproved_at,order_estimated_delivery_date,order_delivered_customer_date,...,product_photos_qty,product_id,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,order_delivery_before_estimated_date_in_days,total_order_value
0,b95df3cef5297e79ef709ba256518f6f,delivered,349.90,13.84,1,1,2017-01-31 17:19:01,2017-02-01 02:41:21.549551,2017-03-15,2017-02-06 11:04:24.154259,...,1,6cdd53843498f92890544667809f1595,b95df3cef5297e79ef709ba256518f6f,5,NaN,NaN,2017-02-07,2017-02-09 02:37:37,36.0,363.74
1,59af46052a799e80e2f0c665c587731d,delivered,15.00,15.10,1,1,2017-09-09 19:52:54,2017-09-10 20:03:31.535281,2017-10-02,2017-09-13 20:17:41.296915,...,2,ae5cad88462eb7b7b61401e31c45618e,59af46052a799e80e2f0c665c587731d,5,NaN,entrega em 2 dias produto c boa qualidade otim...,2017-09-14,2017-09-15 03:43:47,18.0,30.10
2,a3e6136894621db402a772c6bc72a12a,delivered,238.90,18.00,1,1,2017-01-30 17:00:09,2017-01-30 17:31:25.438253,2017-03-07,2017-02-06 15:43:04.758566,...,1,0c9ff9d8ed9b9bdd825487b3a66e05f5,a3e6136894621db402a772c6bc72a12a,5,NaN,produto veio antes do prazo informado muito ob...,2017-02-07,2017-02-10 14:18:53,28.0,256.90
3,b675ea5a618922f6e679e30531b8957b,delivered,29.99,18.23,1,1,2018-03-11 18:18:36,2018-03-11 18:30:37.931962,2018-04-03,2018-04-03 20:36:43.778451,...,1,ad0a798e7941f3a5a2fb8139cb62ad78,b675ea5a618922f6e679e30531b8957b,4,NaN,NaN,2018-04-04,2018-04-05 02:52:31,-1.0,48.22
4,195a8be6794c487fe6cfbb97b7c61902,delivered,295.99,47.65,1,1,2017-04-20 08:01:08,2017-04-25 08:05:40.405383,2017-05-24,2017-05-04 18:47:45.721758,...,2,eaf2046d4c87809247a30050ea13df03,195a8be6794c487fe6cfbb97b7c61902,5,NaN,NaN,2017-05-05,2017-05-08 15:20:18,19.0,343.64

In [27]:
# save updated dataframe which will be used in other project notebooks
%store orders_v2

Stored 'orders_v2' (DataFrame)